@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&family=Montserrat:wght@500&family=Roboto+Condensed:wght@700&display=swap');

.Navbar {
    display: flex;
    margin: 0;
    padding: 0;
    background-color: #24252A;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    
}

.Navbar h4{
    color: white;
    font-family: 'Montserrat', sans-serif !important;
}

.Navbar div{
    align-items: flex-start;
}


.logo {
    cursor: pointer;
}

.nav_links {
    list-style: none;
    font-family: 'Montserrat', sans-serif !important;
    font-size: 20px;
    margin-top: 40px;
}


.nav_links li {
    display: inline-block;
    padding: 0px 20px;

}

.nav_links li a{
    transition: all 0.3s ease 0s;
    color: white !important;
    text-decoration: none;

}

.nav_links li a:hover{
    color: white;
    text-decoration: underline;
}

