@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

.movie-card{
  display: flex !important;
  flex-wrap: wrap !important;
  padding: 10px;
  margin-bottom: 20px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15);  
}

.movie-card img{
  margin-bottom: 20px; 
}


.movie-card-title{
  color: black;
  text-transform: uppercase;
}

.movie-card:hover,
.active{
box-shadow: 0rem 0rem 10px 8px rgb(58 59 69 / 25%);
}

.descripcion{
  width: 200px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.see-less{
  display: none;
}
.see-more{
  display: block;
}


/* .movie-card-somewhereButton{
  color: yellow;
}
.movie-card-somewhereButton:hover,
.active {
  text-decoration: underline;
  cursor: pointer;
  color: yellow;
} */
/* .hide{
  display: none;
}
.show{
  display: block;
} */


.card {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
  height: 500px;
  width: 200px;
  margin: 10px;
}

