.cartasContenedor {
    display: flex !important;
    flex-wrap: wrap !important;

}

section.card-container {
    display: flex !important;
    flex-wrap: wrap !important;

}

main {
    display: flex !important;
    flex-wrap: wrap !important;

}

/* div.movie-card.row{
    display: flex !important;
    flex-wrap: wrap !important;
    margin-top: 20px;
    padding: 0 10px;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    width: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #858796;
  }

  div.movie-card.card {
    display: flex !important;
    flex-wrap: wrap !important;
    padding: 10px;
    margin-bottom: 20px;
    background: #fff;
    border-radius: 5px;


}

div.col {
    display: flex !important;
    flex-wrap: wrap !important;
    padding: 10px;
    margin-bottom: 20px;
    background: #fff;
    border-radius: 5px;


} */
