/* section.card-containerr {
    display: flex;
    flex-wrap: wrap;

}

main {
    display: flex;
    flex-wrap: wrap;

} */

/* div.movie-card.row{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    padding: 0 10px;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    width: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #858796;
  }

  div.movie-card.card {
    padding: 10px;
    margin-bottom: 20px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15);

}

div.col {
    padding: 10px;
    margin-bottom: 20px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15);

} */
